 body{
            margin: 0;
            padding: 0;
            background: url('..//img/bgc.png');
            background-size: cover;
        }
        .container{
            width: 960px;
            min-height: 500px;
            margin: 0 auto;
        }
        header{
            /* width: 960px;*/
            min-height: 100px;
            background-color: rgb(3, 145, 170);
            display: flex;
            flex-wrap: wrap;
            
            
        }
        h1{
            margin: 0;
            padding: 0;
            line-height: 100px;
            text-align: center;
        }
        h2{
            margin:30px;
            background-color:rgb(3, 145, 170);
            padding: 10px;
            text-align: center;

        }
        h3{

        }
        p{
           margin: 30px;
        }
       
        main{
            /* width: 960px;*/ 
            min-height:300px;
            background-color: white;
            display:flex;
            flex-wrap: wrap;
            margin: 0;
            
        }
        
        img{
            width: 300px;
            margin: 50px;
        }
        ul li{
            list-style: none;
            margin: 0;
            padding: 0;
        }
       footer{
            /* width: 960px;*/ 
            min-height: 100px;
            background-color: rgb(3, 145, 170);
            
        }
        footer a{
            line-height: 100px;
            margin: 400px;
            
        }
        nav{
            width: 200px;
            min-height:500px;
            background-color: grey;
           
        }
        article{
            width: 560px;
            min-height: 500px;
            background-color: white;
            
        }
        .gallerie{
            min-height: 450px;
        }
        .gallerie img{
            width: 100px;
            height: 150px;
            margin: 25px 25px;
            padding-left: 25px;
        }
        aside{
            width: 200px;
            min-height: 500px;
            background-color: grey;
            
        }
        aside li{
            margin:15px ;
        }
        .col4{
            width: 960px;
            min-height: 50px;
            background-color: goldenrod;
            
        }
        textarea{
            width: 350px;
            height: 100px;
            border: 1px solid red;
            background-color: #c8c8c8;
            font-family: verdana;
            color: purple;
            padding: 20px;
        }
        iframe{
            margin: 30px 50px;
        }